.navigation-content {
    display: flex;
    flex-direction: column;
}

.dx-tab-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dx-theme-menu {
    display: flex;
    justify-content: right;
    margin: 0 0 2rem 0;
}
